server/.vs/server/v17/.suo
server/api/obj
server/api/bin
server/database/database.sqlproj.user
server/database/bin
server/database/obj
server/.vs/ProjectEvaluation
server/.vs/server/DesignTimeBuild
server/.vs/server/FileContentIndex
server/api/api.csproj.user
server/Common/bin
server/Common/obj