.title-container {
    margin-bottom: 10px;

    .title-text {
        width: 50%;
    }
}

.question-list {
    .quetion-container {
        padding: 20px;

        &:nth-child(odd) {
            background-color: antiquewhite;
        }

        &:nth-child(even) {
            background-color: rgb(196, 220, 245);
        }

        .question-text-container {
            margin-bottom: 20px;

            .question-text {
                width: 50%;
            }
        }

        .answer-list-container {
            .answer-title-container {
                display: flex;
                flex-direction: row;

                .answer-title {
                    flex: 1;
                }

                .is-correct-title {
                    width: 250px;
                }
            }

            .answer-list {
                .answer-container {
                    margin: 5px 0;
                    display: flex;
                    flex-direction: row;

                    .answer-text-container {
                        flex: 1;
                        padding-right: 20px;

                        input {
                            width: 100%;
                        }
                    }

                    .is-correct {
                        width: 250px;
                    }
                }
            }

            .add-answer-button {
                margin-top: 20px;
            }
        }
    }
}

.add-question-button {
    margin: 10px;
}

.save-button-container {
    display: flex;
    justify-content: flex-end;
    margin: 30px 20px 0 0;
}

.spinner-container {
    max-height: 50px;
}