<h2 *ngIf="Mode === 'CREATE'">Create a new quiz</h2>
<hr>
<ng-container *ngIf="quiz">
    <div *ngIf="Mode === 'CREATE'" class="title-container">
        Title* : <input type="text" class="title-text" matInput [(ngModel)]="quiz.title">
    </div>
    <h2 *ngIf="Mode === 'TRY'">{{quiz.title}}</h2>
    <div *ngIf="quiz.questions && quiz.questions.length" class="question-list">
        <div *ngFor="let question of quiz.questions;let index = index;" class="quetion-container">
            <h2>{{index + 1}}</h2>
            <div class="question-text-container">
                <ng-container *ngIf="Mode === 'CREATE'">
                    Question* : <input type="text" class="question-text" matInput [(ngModel)]="question.text">
                </ng-container>
                <h3 *ngIf="Mode === 'TRY'">{{question.text}}</h3>
            </div>
            <div class="answer-list-container">
                <div class="answer-title-container">
                    <div class="answer-title">Answers* : </div>
                    <div class="is-correct-title">
                        Is correct : {{question.type == 'S'? '(Select 1)':'(Select 1 or more)'}}
                    </div>
                </div>
                <div class="answer-list">
                    <div *ngFor="let answer of question.answers" class="answer-container">
                        <div class="answer-text-container">
                            <input *ngIf="Mode === 'CREATE'" type="text" matInput [(ngModel)]="answer.text">
                            <span *ngIf="Mode === 'TRY'">{{answer.text}}</span>
                        </div>
                        <div class="is-correct">
                            <input type="checkbox" [(ngModel)]="answer.isCorrect"
                                (change)="onSelectionChange(question, answer)">
                        </div>
                    </div>
                </div>
                <button *ngIf="Mode === 'CREATE'" class="add-answer-button" mat-button mat-raised-button
                    [disabled]="question.answers.length >= 5" (click)="addAnswer(question)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="Mode === 'CREATE'" class="add-question-button">
        <button mat-button mat-raised-button [matMenuTriggerFor]="menu" [disabled]="quiz.questions.length >= 10">
            <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addQuestion(true)">
                <span>Single answer question</span>
            </button>
            <button mat-menu-item (click)="addQuestion(false)">
                <span>Multiple answer question</span>
            </button>
        </mat-menu>
    </div>
    <hr>
    <div class="save-button-container">
        <button *ngIf="Mode === 'CREATE'" mat-button mat-raised-button color="primary" [disabled]="!isValid()"
            (click)="saveQuiz()">
            <mat-icon>save</mat-icon>
        </button>
        <button *ngIf="Mode === 'TRY'" mat-button mat-raised-button color="primary"
            (click)="viewResults(resultTemplate)">
            <mat-icon>check_small</mat-icon>
        </button>
    </div>
</ng-container>
<ng-template #resultTemplate>
    <div>
        <h1 mat-dialog-title>Test Results</h1>
        <div mat-dialog-content>
            <ng-container *ngIf="results">
                Your Score : <strong>{{results.rightAnswersCount + '/' + results.totalQuestionCount}}</strong>
            </ng-container>
            <div *ngIf="!results" class="spinner-container">
                <mat-spinner *ngIf="!results"></mat-spinner>
            </div>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Close</button>
        </div>
    </div>
</ng-template>