.title-container {
    margin-bottom: 10px;

    .title-text {
        width: 50%;
    }
}

.question-list {
    .question-container {
        padding: 10px 20px;

        &:nth-child(odd) {
            background-color: rgb(250, 235, 215);

            .answer-container.try-mode:hover {
                cursor: pointer;
                background-color: rgb(255, 210, 151);
            }
        }

        &:nth-child(even) {
            background-color: rgb(196, 220, 245);

            .answer-container.try-mode:hover {
                cursor: pointer;
                background-color: rgb(106, 177, 253);
            }
        }

        .question-title-container {
            display: flex;
            flex-direction: row;

            h2 {
                flex: 1
            }
        }

        .question-text-container {
            margin-bottom: 20px;

            .question-text {
                width: 50%;
            }
        }

        .answer-list-container {
            .answer-title-container {
                display: flex;
                flex-direction: row;
            }

            .answer-list {
                .answer-container {
                    margin: 5px 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }

            .column1 {
                flex: 1;
                padding-right: 20px;

                input {
                    width: 100%;
                }
            }

            .column2 {
                width: 250px;
            }

            .column3 {
                width: 40px;
            }

            a.column3 {
                text-align: center;
                vertical-align: middle;

                &:hover {
                    cursor: pointer;
                    background-color: bisque;
                }
            }

            .add-answer-button {
                margin-top: 5px;
            }
        }
    }
}

.add-question-button {
    margin: 10px;
}

.save-button-container {
    display: flex;
    justify-content: flex-end;
    margin: 30px 20px 0 0;
}

.spinner-container {
    max-height: 50px;
}